/*========|| Header section 2 start here ||=========*/
.header-section {
	background: rgba(49, 19, 91, 0.30);
	backdrop-filter: blur(20.0px);
	-webkit-backdrop-filter: blur(20.0px);
	@extend %p-abs;
	@extend %w-100;
	z-index: 999;

	&.header-fixed {
		position: fixed;
		@extend %w-100;
		top: 0;
		left: 0;
		animation: fadeInDown .5s;
		-webkit-animation: fadeInDown .5s;
		-moz-animation: fadeInDown .5s;
		box-shadow: 0 0 10px rgba($color:$title-color, $alpha:.1);
		border-bottom: 1px solid rgba($white-color, $alpha: .10);
		z-index: 999;

		@include breakpoint(xl) {
			top: -48px;
		}

		@include breakpoint(xl) {
			top: -55px;
		}

		.header-bottom {
			@extend %bg-white;
			box-shadow: 0 0 10px #49bcf721;
		}
	}

	.header-top {
		border-bottom: 1px solid rgba($white-color, $alpha: .10);

		* {
			color: $white-color;
		}

		@include breakpoint(max-xl) {
			display: none;
			background-color: rgba($primary-color, $alpha: .95);
		}

		.header-top-area {
			@extend %flex;
			@extend %justify-between;
			@extend %align-items-center;

			.social-icons {
				@extend %m-0;

				li {
					@extend %p-0;
					border-left: 1px solid rgba($white-color, $alpha: .10);

					a {
						@extend %d-inline-block;
						height: 50px;
						line-height: 50px;
						width: 50px;
						background: transparent;
						@include border-radius(0);
						@extend %text-center;
					}

					p {
						@extend %mb-0;
					}

					&:first-child {
						border-left: none;
						@extend %pr-10;
					}

					&:nth-child(2) {
						border-left: none;
					}
				}
			}

			.left {
				@extend %flex;
				margin: 0 -25px;

				li {
					border-right: 1px solid rgba($white-color, $alpha: .10);

					&:last-child {
						border-right: none;
					}

					i {
						@extend %mr-5;
					}
				}
			}

			@include breakpoint(max-xl) {
				.left {
					li {
						font-size: 14px;
						padding: 9px 15px;
					}
				}

				.social-icons {
					li {
						a {
							height: 46px;
							line-height: 46px;
							width: 46px;
						}
					}
				}
			}

			@include breakpoint(max-xl) {
				.left {
					width: 100%;
					text-align: center;
					justify-content: center;
					margin: 0;
					border: 1px solid rgba($white-color, $alpha: .10);

					li {
						flex-grow: 1;
						border-top: 1px solid rgba($white-color, $alpha: .10);
						border-right: none;

						&:first-child {
							border-top: none;
						}
					}
				}

				.social-icons {
					width: 100%;
					text-align: center;
					justify-content: center;
					margin: 0;
					border-bottom: 1px solid rgba($white-color, $alpha: .10);

					li {
						flex-grow: 1;
					}
				}
			}
		}
	}

	.header-wrapper {
		padding: 23px 0;
		@extend %flex;
		@extend %justify-between;
		@extend %align-items-center;

		@include breakpoint(sm) {
			position: relative;
		}

		.logo {
			a {
				@extend %d-block;

				img {
					max-width: 100%;
				}
			}

			@include breakpoint(max-sm) {
				width: 160px;
			}

			@include breakpoint(max-xl) {
				@include breakpoint(xl) {
					width: 200px;
				}
			}
		}

		.menu-area {
			@extend %flex;
			@extend %align-items-center;

			.menu {
				@extend %flex;

				@include breakpoint(xl) {
					margin-right: 30px;
				}

				>li {
					>a {
						color: $white-color;
						@include font-size(16px);
						@extend %text-bold;
						padding: 15px 22px;
						text-transform: capitalize;

						i {
							margin-right: 5px;
						}
					}
				}

				@include breakpoint(lg) {
					li {
						position: relative;

						.submenu {
							position: absolute;
							top: calc(100%);
							left: 0;
							-webkit-transition: all ease 0.3s;
							-moz-transition: all ease 0.3s;
							transition: all ease 0.3s;
							z-index: 9;
							background: #ffffff;
							width: 220px;
							padding: 0;
							-webkit-transform: translateY(35px);
							-ms-transform: translateY(35px);
							transform: translateY(35px);
							opacity: 0;
							visibility: hidden;
							box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);


							li {
								padding: 0;
								&:hover {
									>.submenu {
										-webkit-transform: translateY(0px);
										-ms-transform: translateY(0px);
										transform: translateY(0px);
									}

								}
								a {
									padding: 10px 20px;
									text-transform: capitalize;
									display: flex;
									align-items: center;
									justify-content: space-between;
									font-size: 14px;
									color: $title-color;
									font-weight: 500;
									border-bottom: 1px solid $border-color;

									&:hover,
									&.active {
										background: $theme-color;
										padding-left: 22px;
										color: $white-color;
									}
								}

								&:last-child {
									a {
										border-bottom: none;
									}
								}

								.submenu {
									left: 100%;
									top: 0;
								}
							}
						}

						&:hover {
							>.submenu {
								-webkit-transform: translateY(0px);
								-ms-transform: translateY(0px);
								transform: translateY(0px);
								opacity: 1;
								visibility: visible;
							}
						}
					}

					@include breakpoint(max-lg) {
						li {
							a {
								padding: 10px 12px;
							}
						}
					}
				}

				@include breakpoint(max-lg) {
					width: 100%;
					position: absolute;
					top: 100%;
					left: 0;
					overflow: auto;
					max-height: 400px;
					-webkit-transition: all ease 0.3s;
					-moz-transition: all ease 0.3s;
					transition: all ease 0.3s;
					-webkit-transform: scaleY(0);
					-ms-transform: scaleY(0);
					transform: scaleY(0);
					transform-origin: top;

					//glassmorphism
					background: rgba($primary-color, $alpha: .95);

					li {
						width: 100%;
						padding: 0;

						a {
							display: block;
							padding: 10px 25px;
							font-size: 15px;
							font-weight: 700;
							text-transform: capitalize;
							border-top: 1px solid rgba($white-color, $alpha: .10);
							color: $white-color;

							&:hover {
								background: rgba($theme-color, $alpha: .60);
								color: $white-color;
							}
						}

						.submenu {
							padding-left: 20px;
							display: none;

							li {
								width: 100%;

								a {
									font-size: 14px;
									display: flex;
									justify-content: space-between;
								}
							}
						}
					}

					&.active {
						-webkit-transform: scaleY(1);
						-ms-transform: scaleY(1);
						transform: scaleY(1);
					}
				}
			}

			.search-cart {
				@include breakpoint(max-sm) {
					display: none;
				}

				@extend %flex;
				@extend %align-items-center;
				column-gap: 35px;

				.cart-icon {
					@extend %p-rel;

					a {
						@extend %p-rel;
						color: $desc-color;

						i {
							font-size: 24px;
						}

						span {
							@extend %p-abs;
							@extend %d-inline-block;
							@extend %text-bold;
							width: 18px;
							height: 18px;
							line-height: 18px;
							@extend %text-center;
							font-size: 14px;
							border-radius: 50%;
							background: $theme-color;
							color: $white-color;
							top: -8px;
							right: -8px;
						}
					}

					.cart-content {
						@extend %p-abs;
						right: 0;
						top: 60px;
						width: 280px;
						@extend %bg-white;
						@extend %p-15;
						border-radius: 4px;
						box-shadow: 0 0 10px 2px rgba($theme-color, $alpha: .2);
						transform: translate(-5px, 20px);
						opacity: 0;
						visibility: hidden;
						transition: $transition;

						.cart-list {
							@extend %mb-15;

							.cart-item {
								@extend %mb-10;
								background: rgba($theme-color, $alpha: .20);

								&:last-child {
									@extend %mb-0;
								}

								.cart-inner {
									@extend %flex;
									@extend %align-items-center;
									@extend %w-100;

									.cart-thumb {
										width: 60px;
										height: 70px;
										padding-left: 5px;

										img {
											@extend %w-100;
											@extend %h-100;
										}
									}

									.cart-details {
										width: calc(100% - 60px);
										@extend %p-10;
										@extend %p-rel;

										h6 {
											@extend %mb-5;

											a {
												@extend %text-clamp-1;
												font-size: 16px;
											}
										}

										p {
											font-size: 14px;
											@extend %mb-0;
											@extend %flex;
											@extend %justify-between;
										}

										.close-btn {
											@extend %p-abs;
											top: -5px;
											right: -5px;

											a {
												background: $border-color;

												color: $desc-color;
												width: 18px;
												height: 18px;
												line-height: 18px;
												@extend %text-center;
												border-radius: 50%;
												@include transition($transition);

												i {
													font-size: 14px;
												}

												&:hover {
													background: rgb(231, 2, 59);
													color: $white-color;
												}
											}
										}
									}
								}
							}
						}

						.checkout-btn {
							color: $white-color;
							background: $theme-color;
							line-height: 40px;
							padding: 0 20px;

							&:hover {
								border-radius: 20px;
							}
						}
					}

					&:hover {
						.cart-content {
							opacity: 1;
							transform: translate(0);
							visibility: visible;
						}
					}
				}

				.search-icon {
					border-radius: 50%;
					background: $border-color;
					@extend %pointer;
					width: 40px;
					height: 40px;
					line-height: 40px;
					@extend %text-center;
				}
			}

			.header-bar {
				@extend %p-rel;
				@extend %pointer;
				width: 25px;
				height: 20px;
				@extend %ml-30;

				span {
					@extend %p-abs;
					@extend %d-inline-block;
					@extend %w-100;
					height: 3px;
					@include transition($transition);
					background-color: $white-color;
					left: 0;

					&:first-child {
						top: 0;
					}

					&:nth-child(2) {
						top: 52%;
						transform: translateY(-65%);
					}

					&:last-child {
						bottom: 0;
					}
				}

				&.active {
					span {
						&:first-child {
							@include transform(rotate(45deg) translate(3px, 9px));
						}

						&:nth-child(2) {
							opacity: 0;
						}

						&:last-child {
							@include transform(rotate(-45deg)translate(3px, -9px));
						}
					}
				}

				@include breakpoint(max-sm) {
					width: 15px;
					height: 16px;
					margin-right: 20px;

					span {
						height: 2px;
						width: 20px;
					}

					&.active {
						span {
							&:first-child {
								@include transform(rotate(45deg) translate(4px, 6px));
							}

							&:nth-child(2) {
								opacity: 0;
							}

							&:last-child {
								@include transform(rotate(-45deg)translate(4px, -6px));
							}
						}
					}
				}
			}

			.login,
			.signup {
				display: none;

				@include breakpoint(md) {
					padding: 10px;
					display: inline-block;
				}

				@include breakpoint(xl) {
					padding: 15px;
				}
			}

			.login {
				@extend %bg-white;
				color: $theme-color;
				border-radius: 2px 0 0 2px;

			}

			.signup {
				background: $theme-color;
				color: $white-color;
				border-radius: 0 2px 2px 0;
			}

			.ellepsis-bar {
				font-size: 20px;
				@extend %ml-20;

				i {
					@extend %pointer;
					color: $white-color;
				}
			}


			@include breakpoint(max-sm) {
				padding: 15px 0;

				.ellepsis-bar {
					margin-left: 20px;
				}
			}
		}
	}

	&.style-home-index {
		@extend %bg-white;
		position: sticky;

		.header-top {
			padding: 0;
			border-bottom: 1px solid rgba($black-color, $alpha: .10);

			background: #49bcf7;

			* {
				color: $white-color;
			}

			@include breakpoint(max-xl) {
				display: none;
				background-color: #49bcf7;
			}
		}

		.header-wrapper {
			padding: 25px 0;

			.menu-area {
				.menu {
					>li {
						>a {
							color: $title-color;
							@include font-size(16px);
							padding: 15px 22px;
							text-transform: capitalize;
							font-weight: 400;

							&:hover {
								color: $theme-color;
							}

							&.active {
								color: $theme-color;
							}
						}
					}

					.menu-item-has-children {
						a {

							&:after,
							&:before {
								background: $title-color;
							}

							&.active {

								&:after,
								&:before {
									background: currentColor;
								}
							}
						}

						.submenu {
							li {
								a {
									&:hover {
										background: $theme-color;
										color: $white-color;
									}

									&.active {
										background: $theme-color;
										color: $white-color;
									}
								}
							}
						}
					}


					@include breakpoint(max-lg) {

						//glassmorphism
						background: rgba($white-color, $alpha: .95);

						li {

							a {
								border-top: 1px solid rgba($black-color, $alpha: .10);
								color: $title-color;

								&:hover {
									background: rgba($theme-color, $alpha: .60);
									color: $white-color;
								}
							}
						}
					}
				}

				.search-cart {
					@include breakpoint(max-sm) {
						display: none;
					}

					@extend %flex;
					@extend %align-items-center;
					column-gap: 35px;

					.cart-icon {

						a {
							@extend %p-rel;
							color: $desc-color;

							i {
								font-size: 24px;
							}

							span {
								@extend %p-abs;
								@extend %d-inline-block;
								@extend %text-bold;
								width: 18px;
								height: 18px;
								line-height: 18px;
								@extend %text-center;
								font-size: 14px;
								border-radius: 50%;
								background: $theme-color;
								color: $white-color;
								top: -8px;
								right: -8px;
							}
						}

						.cart-content {
							@extend %p-abs;
							right: 0;
							top: 60px;
							width: 280px;
							@extend %bg-white;
							@extend %p-15;
							border-radius: 4px;
							box-shadow: 0 0 10px 2px rgba($theme-color, $alpha: .2);
							transform: translate(-5px, 20px);
							opacity: 0;
							visibility: hidden;
							transition: $transition;

							@include breakpoint(max-sm) {
								right: -90px;
							}

							.cart-list {
								@extend %mb-15;

								.cart-item {
									@extend %mb-10;
									background: rgba($theme-color, $alpha: .20);

									&:last-child {
										@extend %mb-0;
									}

									.cart-inner {
										@extend %flex;
										@extend %align-items-center;
										@extend %w-100;

										.cart-thumb {
											width: 60px;
											height: 70px;
											padding-left: 5px;

											img {
												@extend %w-100;
												@extend %h-100;
											}
										}

										.cart-details {
											width: calc(100% - 60px);
											@extend %p-10;
											@extend %p-rel;

											h6 {
												@extend %mb-5;

												a {
													@extend %text-clamp-1;
													font-size: 16px;
												}
											}

											p {
												font-size: 14px;
												@extend %mb-0;
												@extend %flex;
												@extend %justify-between;
											}

											.close-btn {
												@extend %p-abs;
												top: -5px;
												right: -5px;

												a {
													background: $border-color;
													color: $desc-color;
													@extend %d-inline-block;
													width: 18px;
													height: 18px;
													line-height: 18px;
													@extend %text-center;
													border-radius: 50%;
													@include transition($transition);

													i {
														font-size: 14px;
													}

													&:hover {
														background: rgb(231, 2, 59);
														color: $white-color;
													}
												}
											}
										}
									}
								}
							}

							.checkout-btn {
								color: $white-color;
								background: $theme-color;
								line-height: 40px;
								padding: 0 20px;

								&:hover {
									border-radius: 10px;
								}
							}
						}

						&:hover {
							.cart-content {
								opacity: 1;
								transform: translate(0);
								visibility: visible;
							}
						}
					}

					.search-icon {
						border-radius: 50%;
						background: $border-color;
						@extend %c-pointer;
						width: 40px;
						height: 40px;
						line-height: 40px;
						@extend %text-center;
					}
				}

				.header-bar {

					span {
						background-color: $theme-color;
					}

				}

				.login,
				.signup {
					display: none;

					@include breakpoint(md) {
						padding: 10px;
						display: inline-block;
					}

					@include breakpoint(xl) {
						padding: 15px;
					}
				}

				.login {
					@extend %bg-white;
					color: $theme-color;
					border-radius: 2px 0 0 2px;

				}

				.signup {
					background: $theme-color;
					color: $white-color;
					border-radius: 0 2px 2px 0;

				}

				.ellepsis-bar {
					font-size: 20px;
					@extend %ml-20;

					i {
						@extend %c-pointer;
						color: $theme-color;
					}
				}

				@include breakpoint(max-sm) {
					padding: 15px 0;

					.ellepsis-bar {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

.search-area {
	&.open {
		.search-input {
			transform: scaleX(1);
		}
	}

	.search-input {
		margin: auto;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($white-color, $alpha: .90);
		z-index: 1111111;
		@extend %text-center;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform-origin: left;
		transform: scaleX(0);
		@include transition($transition);

		.search-close {
			width: 50px;
			height: 50px;
			top: 50px;
			right: 50px;
			@extend %pointer;
			@extend %p-abs;

			&:hover {
				span {
					background: $theme-color;
				}
			}

			span {
				width: 50px;
				height: 1px;
				background: $title-color;
				top: 25px;
				right: 0px;
				@extend %p-abs;
				@include transition($transition);

				&:nth-child(1) {
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					transform: rotate(-45deg);
				}
			}
		}

		form {
			@extend %p-abs;
			top: 50%;
			left: 50%;
			width: 75%;
			transform: translate(-50%, -50%);

			input {
				@extend %p-15;
				@extend %w-100;
				color: $desc-color;
				border-radius: 0;
				@extend %text-center;
				font-size: $fs-h2;
				border: none;
				border-bottom: 1px solid rgba($theme-color, $alpha: .7);
				color: $theme-color;

				&::placeholder {
					color: $theme-color;
				}

				&:hover,
				&:focus {
					border-color: $theme-color;
				}
			}
		}
	}
}

//sub menu icon
.menu-item-has-children {

	>a {
		@extend %p-rel;


		&::after {
			@extend %p-abs;
			top: 50%;
			transform: translateY(-50%);
			right: 25px;
			width: 10px;
			height: 2px;
			@extend %bg-white;
		}

		&::before {
			@extend %p-abs;
			top: 50%;
			transform: translateY(-50%);
			right: 29px;
			width: 2px;
			height: 10px;
			@extend %bg-white;
			@include transition($transition);
		}

		@include breakpoint(lg) {
			&::after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 6px;
				width: 10px;
				height: 2px;
				background-color: $white-color;
			}

			&::before {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				width: 2px;
				height: 10px;
				background-color: $white-color;
				@include transition($transition);
			}
		}


	}

	&:hover {
		>a {

			&:before {
				transform: rotate(90deg);
				opacity: 0;
				background: currentColor !important;
			}

			&:after {
				background: currentColor !important;
			}
		}
	}

	&.open {
		>a {

			&:before {
				transform: rotate(90deg);
				opacity: 0;
				background: currentColor !important;
			}

			&:after {
				background: currentColor !important;
			}
		}
	}
}

/*========|| Header section 2 end here ||=========*/
// page header start here
.page-header {
	background-color: #f9fafb;
	padding-bottom: 0 !important;
	margin-top: 60px;

	@include breakpoint(xl) {
		margin-top: 0;
	}

	.page-header-item {
		padding: 30px 0;

		@include breakpoint(sm) {
			padding: 80px 0;
		}

		h2 {
			font-size: 28px;
			line-height: 1.5;
			margin: 0;
			@include font-size(60px);
		}

		.post-content {
			// @include transform(translateY(25px));
			text-align: center;

			h5 {
				color: $primary-color;
			}

			&.style-two {
				h2 {
					margin-bottom: 15px;

					@include breakpoint(sm) {
						margin-bottom: 15px;
					}
				}

				p {
					margin: 0 auto;
					max-width: 600px;
				}
			}
		}
	}

	&.service-page-header {
		.page-header-item {
			@include breakpoint(max-lg) {
				padding: 60px 0;
			}
		}
	}
}

// breadcamp start here
.breadcamp {
	border-bottom: 1px solid #ebebeb;

	ul {
		min-height: 40px;

		@include breakpoint(sm) {
			min-height: 60px;
		}

		li {
			padding: 4px;

			a {
				padding: 8px;
				color: $title-color;
				position: relative;
				outline: none;
				font-size: $fs-base;

				@include breakpoint(max-sm) {
					font-size: 98%;
				}

				&:hover {
					color: $theme-color;
				}

				&::after {
					position: absolute;
					content: '\f105';
					font-family: "Font Awesome 5 Free";
					top: 50%;
					right: -10px;
					font-weight: 600;
					color: #bbbbbb;
					@include transform(translateY(-50%));
				}

				&.active {
					color: #515c84;

					&::after {
						display: none;
					}
				}
			}
		}
	}
}


.pro-filter {
	position: relative;
	margin-bottom: 53px;
}

.pro-fli-btn {
	@extend %flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}

.pro-fli-btn input {
	background: $theme-color !important;
	padding: 10px 25px !important;
	border-radius: 50px !important;
	color: $white-color !important;
	font-weight: 400 !important;
	font-size: 14px !important;
}

.pro-fli-btn p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 500;
	color: $title-color;
}